:root {
    /* основний колір тексту */
    --primary_text-color: #757575;
    /* колір тексту заголовків */
    --title-text-color: #212121;
    /* основний білий колір*/
    --primary-white-color: #FFFFFF;
    /* вторичний чорний колір*/
    --secondary-black-color: #000000;
    /* вторичний чорний колір*/
    --secondary-white-color-opacity: rgba(255, 255, 255, 0.6);
    /* колір акценту*/
    --accent_color: #2196F3;

    /* колір фону */
    --primari-bg-color: #F5F5F5;
    /* колір фону */
    --primari-black-bg-color: #2F303A;
    /* вторичний білий колір фону */
    --secondary-bg-color: #F5F4FA;
}

body {
    color: var(--primary_text-color);
    background-color: var(--primari-bg-color);
    font-family: 'Roboto', 'Raleway', sans-serif;
}

ul {
    list-style: none;
}

.logo-black {
    color: var(--secondary-black-color);
    font-family: 'Raleway';
}


.logo-white {
    color: var(--primary-white-color);
    font-family: 'Raleway';
}

.logo-blue {
    color: var(--accent_color);
}


/* site-nav */
.site-nav .link {
    color: var(--secondary-black-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
    color: var(--accent_color);
}

.auth-nav .link {
    color: var(--secondary-black-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent_color);
}


.hero h1 {
    Font-family: Roboto;
    Font-style: Black;
    Font-size: 44px;

}


/* шапка */
.button {
    color: var(--primary-white-color);
    background-color: var(--accent_color);
    border: none;
}

/* section */
.section {
    color: var(--primary_text-color);
}

.section-title {
    color: var(--title-text-color);
}

.property-list .title {
    color: var(--title-text-color);
}

/* Наша робота */


/* Наша команда */
.section.team {
    background-color: var(--secondary-bg-color);
}

.team-list .title {
    color: var(--title-text-color);
}

/* footer */
.footer {
    color: var(--primary-white-color);
    background-color: var(--primari-black-bg-color);
}

.opacity-color {
    color: var(--secondary-white-color-opacity);
}

.portfolio-nav .button {
    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);
}

.portfolio-nav .button:hover {
    color: var(--primary-white-color);
    background-color: var(--accent_color);
}

.project-list .title {
    color: var(--title-text-color);
}

.project-list .text {
    color: var(--primary_text-color);
}